# Case Study on Testing of Hypothesis

In [13]:
import numpy as np
import pandas as pd

In [14]:
data = pd.read_csv("Sales_add.csv")
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [15]:
data.tail()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [16]:
data.shape

(22, 5)

In [6]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [7]:
data.describe(include=['object'])

          Month      Region      Manager
count        22          22           22
unique       22           3            3
top     Month-1  Region - A  Manager - A
freq          1          10            9

In [8]:
data.dtypes

Month                             object
Region                            object
Manager                           object
Sales_before_digital_add(in $)     int64
Sales_After_digital_add(in $)      int64
dtype: object

● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.

In [9]:
#H0:There is no difference in sales before and after digital marketing.
#H1:There is an increase in sales after digital marketing.

In [17]:
import scipy.stats as stats
from scipy.stats import ttest_ind

In [18]:
alpha=0.05

In [19]:
_,p = stats.ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])
print("P Value : ",p)

P Value :  6.336667004575778e-11

In [20]:
if p > alpha:
    print("Failing to reject the  Null hypothesis H0")
else:
    print("Rejecting the Null hypothesis H0")

Rejecting the Null hypothesis H0

From the test we found that there is an increase in sales after digital marketing

● The company needs to check whether there is any dependency between the
features “Region” and “Manager

In [23]:
#H0:there is no dependency  features between  “Region” and “Manager 
#H1:there is a dependency  features between “Region” and “Manager

In [30]:
import scipy.stats as stats
from scipy.stats import ttest_ind

In [31]:
alpha=0.05

In [32]:
data.groupby(['Region','Manager'])['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)'].mean()

C:\Users\abhil\AppData\Local\Temp\ipykernel_63768\3565478183.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby(['Region','Manager'])['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)'].mean()

                        Sales_before_digital_add(in $)  \
Region     Manager
Region - A Manager - A                   148628.500000
           Manager - B                   155617.000000
           Manager - C                   140228.000000
Region - B Manager - A                   142725.000000
           Manager - B                   152167.000000
           Manager - C                   165299.000000
Region - C Manager - A                   147463.000000
           Manager - B                   156492.333333
           Manager - C                   130625.000000

                        Sales_After_digital_add(in $)
Region     Manager
Region - A Manager - A                  257609.250000
           Manager - B                  218944.000000
           Manager - C                  233754.000000
Region - B Manager - A                  234962.750000
           Manager - B                  231808.000000
           Manager - C                  214718.000000
Region - C Manager - A                  229336.000000
           Manager - B                  214551.333333
           Manager - C                  222106.000000

In [33]:
data1=data.groupby('Region')['Manager'].value_counts().unstack()
data1

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [34]:
chi_value, p_value, dof, exp_values = stats.chi2_contingency(data1)
print('Chi sqaure Test Statistic is ',chi_value)
print('P value of test data is ',p_value)
print('Degrees of Freedom is ',dof)
print('Expected observations of data are ',exp_values)

Chi sqaure Test Statistic is  3.050566893424036
P value of test data is  0.5493991051158094
Degrees of Freedom is  4
Expected observations of data are  [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [35]:
chicriteria=stats.chi2.ppf(1-0.05,4)
stats.chi2.ppf(1-0.05,df=4)

9.487729036781154

In [36]:
if(chi_value>chicriteria and p_value<alpha):
    print('Reject the Null hypothesis H0')
else:
    print('Failing to reject the Null hypothesis H0')

Failing to reject the Null hypothesis H0

In [ ]:
From this test we found that there is no dependency  features between  “Region” and “Manager ,that is features are independent